#pageTitle{
    
    text-align: center;
    font-family: 'Pacifico',cursive;
    color: #222;
    font-weight: bold;
    text-decoration: underline;
}

#container 
{
    padding: 15px 15px 15px 15px; 
    margin-bottom: 30px;
    border: 8px solid; 
    border-radius: 10px;
    background-color:#FFF;
}

#items {
    
    background-color:#EEEEEE; 
    padding-top:15px; 
    padding-bottom:15px;
    padding-left: 5px;
    margin-top: 0px !important;
    margin-right: -15px;
}

.preview {
    
    height: 200px;
    width: 250px;
    margin-bottom: 15px;
}

hr
{
    height: 1px;
    background-color: #000;
}

h4
{
    color: firebrick;
}

.summary
{
    background-color: #222;
}

.summary > h2
{
    color: white;
}

.summary > div > div > p
{
    color: white;
}

.details
{
    background-color: #EEEEEE;
}

.row > div > ul > li 
{
    margin-bottom: 8px;
}

.btn-cart-special
{
    margin-bottom: 10px;
}

.loc-bullet {
    list-style-image: url('https://i.imgur.com/QY0JIEN.png') !important;
}

.size-bullet {
    list-style-image: url('https://i.imgur.com/wqh92lc.png') !important;
}

.money-bullet {
    list-style-image: url('https://i.imgur.com/yu3WpPA.png');
}
